#casinoGamesList {
    margin-left: -14px;
    margin-right: -14px;
}

/* ==========================================
   CASINO GAME SECTIONS
   Only affects Casino games below
========================================== */

.game-section {
    padding-left: 2px;
    padding-right: 2px;
}
