#casinoGamesList {
    margin-left: -10px;
    margin-right: -10px;
}

/* ==========================================
   CASINO GAME SECTIONS
   Only affects Casino games below
========================================== */

.game-section {
    padding-left: 4px;
    padding-right: 4px;
}
